<!DOCTYPE html>
<html>
  <head>
    <title>
        Wiersze i wierszyki...
    </title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/print.css') }}" media="print" />
  </head>
<body>

<div id="pojemnik">
    <h1 id="naglowek">Wiersze i wierszyki...</h1>
    <div id="tekst">
        {% block content %}
        {% endblock %}
    </div>
    <div id="dol"></div>
</div>

</body>
</html>