{% extends "MyPoemBundle::layout.html.twig" %}

{% block content %}
    <h2>Włodzimierz Gajda</h2>
    <h3>Dwa kabele</h3>

    <p>
        Czesem tak sie dziwnie składa,<br />
        Że gdy nic nie zapowiada<br />
        Żadnych nieszczęść czy frustracji,<br />
        Jakiś smyk wkroczy do akcji<br />
        I, być może bez złych chęci,<br />
        Sielankę ojcu zamąci.<br />
        <br />
        Tak to było. Gdy w spokoju,<br />
        Leżałem w swoim pokoju<br />
        Na kanapie, mojej przecie,<br />
        Najwygodniejszej na świecie<br />
        Podszedł syn mój, mały Buczek -<br />
        Mego ojca luby wnuczek -<br />
        I tak jakby ot przypadkiem,<br />
        Spytał mnie patrząc ukradkiem<br />
        <br />
        "Tato, tato, Cio sie śtanie<br />
        Jak sie źłońciy pable w ścianie?<br />
        Tak, te w ścianie tato drogi."<br />
        Skoczyłem na równe nogi.<br />
        I udając spokojnego<br />
        Rzekłem zaraz tak do niego:<br />
        <br />
        "Tomek<br />
        Chcesz podpalić ten nasz domek?<br />
        Jeśli złączysz dwa kabele,<br />
        Prądu spłynie bardzo wiele<br />
        Wprost do gniazdka tam na ścianie.<br />
        Przecież ci się krzywda stanie!<br />
        Będzie huk i błysk i zwarcie!"<br />
        Tłumaczyłem mu zażarcie<br />
        Ładną chwilę, lecz widziałem,<br />
        Że do niego nie trafiałem.<br />
        <br />
        Może troszke mi uwierzył,<br />
        Wzrokiem tylko gniazdko zmierzył<br />
        I ominął je z daleka .<br />
        Chyba lepszej szansy czeka.<br />
        <br />
        Jako że zmęczony byłem<br />
        Ponownie się położyłem<br />
        Oczy mi się zakleiły<br />
        I dwa czołgi wnet przyśniły,<br />
        <br />
        Czy to wojna? Czy strzelają?<br />
        Wokół bomby wybuchają?<br />
        Błyskawica się rozbłyska,<br />
        Z lewej granat wybuchł z bliska,<br />
        Wkoło słychać wciąż "AGOŃ",<br />
        Wiatr rozwiewa prochu woń.<br />
        Artyleria znów naciera,<br />
        A lotnictwo atak wspiera.<br />
        <br />
        Wtem przetarłem oczy swe<br />
        I co widzę? Wojna? NIE.<br />
        To mój ukochany synek<br />
        Przypalony jak murzynek<br />
        W dłoniach trzyma dwa kabele<br />
        Oj spłynęło! Bardzo wiele!<br />
        <br />
        Więc gdy spokój, cisza w domu<br />
        Czasem zerkam po kryjomu<br />
        Do pokoju moich dzieci<br />
        Coż to mały Tomcio kleci?<br />
        Bo ostatnio go widziałem<br />
        Gdy rowerem z nim jechałem<br />
        Jak spoglądał z błyskiem w oku<br />
        Na rurociąg koło bloku.<br />
    </p>

{% endblock %}